/* Hero Section */

.hero {
  padding: 80px 0;
  background: #f8fbff;
}

.hero-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

/* Left Side */

.hero-content {
  flex: 1;
}

.hero-tag {
  display: inline-block;
  background: #dbeafe;
  color: #2563eb;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 20px;
}

.hero-title {
  font-size: 52px;
  line-height: 1.2;
  color: #1e293b;
  margin-bottom: 20px;
}

.hero-description {
  font-size: 18px;
  color: #64748b;
  line-height: 1.7;
  margin-bottom: 35px;
}

/* Buttons */

.hero-buttons {
  display: flex;
  gap: 20px;
}

.primary-btn,
.secondary-btn {
  padding: 14px 28px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
}

.primary-btn:hover {
  background: #1d4ed8;
}

.secondary-btn {
  background: transparent;
  color: #2563eb;
  border: 2px solid #2563eb;
}

.secondary-btn:hover {
  background: #2563eb;
  color: white;
}

/* Right Side */

.hero-image {
  flex: 1;
  text-align: center;
}

.hero-image img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
}